/* Created by: Maria Goemans
* Created on: Mar 9 2022
* This CSS file defines the style for index.html
* ICS2O-Unit2-01-HTML-JS-HelloWorld
*/

h1 {
  text-align: center;
  margin-top: 40px;
  background-color: #586390;
  color: white;
  padding: 20px;
  width: 40%;
}

button {
  width: 10%;
  background-color: #fa695b;
  margin-left: 20%;
  color: white;
}

#hello-world {
  margin-left: 20%;
  color: #586390;
}

body {
  background-color: #ccfcff;
}

p {
  margin-left: 20%;
}